//Normalizing the css
@import "./vendor/normalize";

//colors
@import "./partial/colors";

//mixins
@import "./partial/mixins";

//typography
@import "./partial/typography";

//media sizes
@import "./partial/media";


@media (min-width: 40em) {
    
    }
//body
body {
    font-family: $primary-font;
}

//Navigation bar
.navbar {
    background-color: $darker-background;
    padding: 1.5rem;
    @media (max-width:$tablet) {
        padding: 1rem 2.5rem 2.5rem 2.5rem;
    }
    div {
        color: $nav-text-color;
        text-decoration: none;
    }
    #thePlace {
        color: $nav-text-color;
        display: inline; 
        text-decoration: none;
        font-family: $title;
        padding: 39px 0px 17px 48px;
        font-weight: 700;
        font-size: 18px;
        @media (max-width:$tablet) {
            display: block;
            text-align: center;
            padding: 1.5rem;
            margins: 1rem 0rem .5rem 0rem;
        }
    }
    nav {
        float: right;
        padding-right: 3rem; 
    a {
        color: $nav-text-color;
        display: inline; 
        text-decoration: none;
        padding: .6rem;
        font-family: $title;
        font-size: 16px;
    }  
    }
}

//Text Container
.text_box {
    margin: 9rem 4rem;
    display: inline-block; 
    max-width: 45%;
    @media (max-width:$tablet) and (max-width:$laptop) {
        display: block;
        align-items: center;
        max-width: 75%;
        margin: 6rem;
        
    }
    section {
        text-align: center;
        h1 {
            @include orangeHeading;
            text-align: center;
            display: inline-flexbox;
            margin: 0;
        }
        h2 {
            font-family: $title;
            font-size: 3rem;
            font-family: 700;
            text-align: center;
            margin: 0 0 5px 0;
        }
        .star {
            align-items: center;
            width: 24px;
            height: 24px;
        }
        p {
            text-align: center;
            font-size: 1.5rem;
            color: $primary-font-color;
            margin: 5px 0 21px 0;
            font-size: 24px;
        }   
        div {
            a {
                color: $secondary-font-color;
                font-size: 14px;
            }
        }
    }
}

//Image Container
.imgdiv {
    display: inline-block;
    margin: 10rem 5rem;
    border-radius: 16px;
    max-width: fit-content;
    @media (max-width:$tablet) {
        display: block;
        position:relative;
        align-items: center;
        margin: 7.5rem;
}
}
//Footer Container
.footerContainer {
    padding: 1.2rem;
    background-color: $dark-background;
    position: fixed bottom;
    footer{
        display: inline-block;
        color: $nav-text-color;
        text-align: center;
        width: 504px;
        margin-left: 8.2rem;
        height: 24px;
        font-size: 1rem;
    }
}