@import "./vendor/normalize";


.navbar {
    padding: 2rem;
    background-color: black;
    nav {
        float: right;
        a {
            display: inline;
            color:white;
            text-decoration: none;
        
        }
        div {
            color: white;
            display: inline-block;
            
        }
    }
    
}
